<!DOCTYPE html>
<html>
    <head>
        <title>GRE Vocab Crack</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Turret+Road&display=swap" rel="stylesheet">
    </head>

    <body>
        <script type="text/javascript">
            var answer = "{{ answer.upper() }}";
            var defi = "{{ defi }}";
        </script>

        <div id="header">GRE Vocabulary Crack</div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p id="answerLine">Answer unknown</p>
            <!-- <a href = "" id="link" target="_blank">click here</a> -->
          </div>
        </div>

        <div id="mainBody">    
            <div class="display">
                <canvas id="mainCanvas" width="1150px" height="100px"></canvas>
                <script type="text/javascript" src="{{ url_for('static', filename='mainCanvas.js') }}">
                </script>
            </div>
            <div id="hangmanDiv">
                <canvas id="hangmanCanvas" width="1150px" height="390px">
                </canvas>
                <button id="resetButton" class="button">Reset Score</button>
                <script type="text/javascript" src="{{ url_for('static', filename='hangman.js') }}">
                </script>
            </div>
            <form id="controlForm">
                <script type="text/javascript" src="{{ url_for('static', filename='controlForm.js') }}">
                </script>
            </form>
            <div id="note">You can use your keyboard key as well!</div>
        </div>
    </body>
</html>